html {
  position: relative;
  min-height: 100%;
}
body {
  background: url("https://candiasanders.files.wordpress.com/2014/03/mtr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

.jumbotron {
  text-align: center;
  color: white;
  background: inherit;
}

/*FLEX MODEL*/
.output {
  display: flex; /* or inline-flex */
  flex-flow: row wrap;
  color: white;
  justify-content: space-between;
  /*align-items: baseline;*/
}

.item {
  position: relative;
  display: block;
  margin: auto;
  width: 300px;;
  height: 300px;
  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ];
  text-align: center;
}

.item a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.item h5 {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: lightgrey;
  transition: .8s;
}

.item:hover h5 {
  font-style: italic;
  padding-top: 5em;
  color: black;
  opacity: 1;
}
